h1,a,h2{
    color:red;font-size: 50px;
}
body{
    height: 1000px;
    background-color: #009932;
    background-image: url("julizi.png");
    background-repeat: no-repeat;
    background-position: center top;
/*    background-attachment:fixed;*/
    background-size: 200px 200px;
/*    background-origin: border-box;*/
    color:blue;
}
h4{
    color:green;
}


ul.circle{list-style-type: circle}

ul.square{list-style-type: square}

ol.upper-roman{list-style-type: upper-roman}

ol.lower-alpha{list-style-type: lower-alpha}

ul.circle{list-style-image: url(julizi.png)}

a:link{color:blue;text-decoration: underline;}
a:visited{background-color:chartreuse;text-decoration: underline;}
a:hover{color:aquamarine}
a:active{color: black}