
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:snow;
}

#container{
    background-color:cadetblue;
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

#head{
    line-height: 100px;
    height: 100px;
/*    vertical-align: middle;*/
    background-color: darkcyan;
}

.headtitle{
    color: snow;
    width: 200px;
    text-align: center;
    float: left;
}

/*
#head>div{
    display: inline-block;
}
*/
.headlead{
    float: left;
}

li{
    padding:2px;
    display: inline;
}

a:link,a:visited{
    color: snow;
    text-align: center;
    padding: 2px;
    text-decoration: none;
}

a:hover{
    color: black;
}

.headform form{
    float: right;
    margin-right: 50px;
}

form input{
    height: 20px;
    width: 150px;
    border-radius: 10px;
}

.headimage{
    float: right;
    margin:30px 5px 0 0;
}

.headimage img{
    width: 60px;
    height: 60px;
}

#mainbody{
    height: 250px;
    color: azure;
/*    background-color: aqua;*/
/*    margin-top: 50px;*/
}

.mbytitle{
/*    width: 80%;*/
    height: 80px;
/*    background-color: black;*/
/*    margin-top: 80px;*/
}
/*
.sub1{
    width: 80%;
    height: 50px;
    background-color: snow;
    margin-top: 30px;
}
*/
.mbytitle>h3{
    margin: 5px 0;
}
.mbytitle>p{
    margin: 15px;
}

hr{
    padding: 0px;
    margin: 0 10px;
    
}

.image4{

    border: 1px solid snow;
    text-align: center;
    margin: 10px;
    float: left;
}

img{
    width: 179px;
    height: 179px;
}
